doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Ten Things About Cherry Vale

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Ten Things About Cherry Valley

      section
        h3 Cherry Valley Tourist Spot Map
        img.scene.cherry_valley(src='images/cherry_valley.png')

      section
        h3.bullet Metasequoia
        img.scene.metasequoia(src='images/metasequoia.jpg')
        ul 
          li The world's most ancient tree species
          li Living Fossil

      section
        h3 Metasequoia
        img.scene.metasequoia(src='images/metasequoia_gallery_road.jpg')
        img.scene.metasequoia(src='images/metasequoia_gallery_road_1.jpg')

      section
        h2 Origin of Spring
        img.scene(src='images/origin_of_spring_intro.jpg')

      section
        h2 Origin of Spring
        img.scene.origin-of-spring(src='images/origin_of_spring.jpg')

      section
        h2 Ingot-shaped Rock
        img.scene(src='images/ingot-shaped_rock_intro.jpg')

      section
        h2 Ingot-shaped Rock
        img.scene(src='images/ingot-shaped_rock.jpg')

      section
        h2 Cypress On Rock
        img.scene(src='images/cypress_on_rock_intro.jpg')

      section
        h2 Cypress On Rock
        img.scene.cypress-on-rock(src='images/cypress_on_rock.jpg')

      section
        h2 Deer Rock Jingshe
        img.scene(src='images/deer_rock_jingshe_intro.jpg')

      section
        h2 Deer Rock Jingshe
        img.scene.deer-rock-jingshe(src='images/deer_rock_jingshe.jpg')

      section
        h2 Stone Carving of "Protecting Northern China"
        img.scene(src='images/protecting_northern_china_intro.png')

      section
        h2 Stone Carving of "Protecting Northern China"
        img.scene(src='images/protecting_northern_china.jpg')

      section
        h2.bullet Just the beginning...
        br
        ul
          li Origin of Spring
          li Ingot-shaped Rock
          li Cypress On Rock
          li Deer Rock Jingshe
          li Stone Carving of "Protecting Northern China"
        br
        ul
          li
            strong Enjoy! :)

    script(src='build/build.js')