doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Ten Things About Cherry Vale

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Ten Things About Cherry Valley

      section
        img.scene.cherry_valley(src='images/cherry_valley.png')

      section
        h2 Origin of Spring
        img.scene(src='images/origin_of_spring_intro.jpg')

      section
        h2 Origin of Spring
        img.scene(src='images/origin_of_spring.jpg')

      section
        h2 Ingot-shaped Rock
        img.scene(src='images/ingot-shaped_rock_intro.jpg')

      section
        h2 Ingot-shaped Rock
        img.scene(src='images/ingot-shaped_rock.jpg')

      section
        h2 A Pine on Rock
        img.scene(src='images/cypress_on_rock_intro.jpg')

      section
        h2 A Pine on Rock
        img.scene(src='images/cypress_on_rock.jpg')

      section
        h2 Ruli Pavilion
        img.scene(src='images/ruli_pavilion.jpg')

      section
        h2 Deer Cliff Retreat
        img.scene(src='images/deer_cliff_retreat_intro.jpg')

      section
        h2 Deer Cliff Retreat
        img.scene(src='images/deer_cliff_retreat.jpg')

      section
        h2 White Deer Cliff
        img.scene(src='images/white_deer_cliff.jpg')

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')